[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=CFF Explorer
GenericName=CFF Explorer
Icon=/home/hitori/.icons/cff_explorer/cff_explorer.png
Exec="wine" "/home/hitori/tools/CFF_Explorer/CFF Explorer.exe"
Categories=Development;
Path=/home/hitori/tools/CFF_Explorer/
