[Desktop Entry]
Name=Factorio
Exec=/home/hitori/.game/factorio/bin/x64/factorio
Icon=/home/hitori/.game/factorio/data/core/graphics/factorio.png
Type=Application
Categories=Game;
