[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=PEiD
GenericName=PEiD
Icon=/home/hitori/.icons/peid/peid.png
Exec="wine" "/home/hitori/tools/PEiD/PEiD.exe"
Categories=Development;
Path=/home/hitori/tools/PEiD/
