[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Scylla (x64)
GenericName=Scylla (x64)
Icon=/home/hitori/.icons/scylla/scylla.png
Exec="wine" "/home/hitori/tools/Scylla/Scylla_x64.exe"
Categories=Development;
Path=/home/hitori/tools/Scylla/
