[Desktop Entry]
Encoding=UTF-8
Value=1.0
Type=Application
Name=Scylla
GenericName=Scylla
Icon=/home/hitori/.icons/scylla/scylla.png
Exec="wine" "/home/hitori/tools/Scylla/Scylla_x86.exe"
Categories=Development;
Path=/home/hitori/tools/Scylla/
